/* Make header transparent only on homepage */
.md-main:has(.hero) .md-header {
    background-color: transparent !important;
    box-shadow: none;
}

/* Main background for homepage */
.md-main:has(.hero) {
    background: url(../assets/wp-intro.webp) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

/* Dark overlay */
.md-main:has(.hero)::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 100%);
}

/* Ensure content is above overlay */
.md-main:has(.hero) .md-content__inner {
    position: relative;
    z-index: 2;
}

/* Hero styling */
.hero {
    text-align: center;
    padding: 8rem 2rem;
    position: relative;
    z-index: 2;
}

.hero h1 {
    color: white;
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    letter-spacing: -0.02em;
}

.hero p {
    color: white;
    margin: 2rem auto;
    font-size: 1.4rem;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    max-width: 700px;
    line-height: 1.6;
}

/* Button container */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5rem;
}

/* Button styling */
.hero .md-button {
    margin: 0.5rem;
    padding: 0.9rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.3s ease;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
}

.hero .md-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.hero .md-button--primary {
    background: linear-gradient(135deg, #FF5F6D 0%, #FFC371 100%);
    border: none;
    color: white !important;
}

.hero .md-button:not(.md-button--primary) {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white !important;
}

.hero .md-button:not(.md-button--primary):hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

/* Make the description text white */
.md-main:has(.hero) .md-content__inner > p {
    color: white;
    position: relative;
    z-index: 2;
}

/* Responsive adjustments */
@media screen and (max-width: 76.1875em) {
    .hero h1 {
        font-size: 3rem;
    }
    
    .hero p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    
    .hero p {
        font-size: 1.1rem;
    }
    
    .hero .md-button {
        padding: 0.8rem 1.6rem;
    }
}

/* Hide the git revision date on homepage */
.md-main:has(.hero) .md-source-file {
    display: none;
}

/* Hide edit icon and userStyle on homepage */
.md-main:has(.hero) .md-content__button,
.md-main:has(.hero) userStyle {
    display: none;
}

/* Also hide the edit button icon */
.md-main:has(.hero) .md-icon[title="Edit this page"] {
    display: none;
}

/* Hide any SVG icons in the main content area of homepage */
.md-main:has(.hero) .md-content__inner > svg {
    display: none;
}

/* Default text color for all pages */
.md-typeset h1,
.md-typeset h2,
.md-typeset {
    color: var(--md-default-fg-color) !important;
}

/* Dark overlay only for homepage */
.md-main:has(.hero)::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 100%);
}

/* White text only for homepage */
.md-main:has(.hero) .md-typeset h1,
.md-main:has(.hero) .md-typeset h2,
.md-main:has(.hero) .md-typeset p {
    color: white !important;
}

/* Make emojis visible */
.md-typeset img.twemoji,
.md-typeset svg.twemoji {
    opacity: 1;
    color: currentColor;
}

/* Hide the "# 🏠 Home" heading on hero homepage */
.md-main:has(.hero) h1:first-of-type:not(.hero h1) {
    display: none;
}